#Corpo{
    margin: 0;
    padding: 0;
}

#Imagem{
    width: 100%;
    background-color: #ff9b64;
    height: 200px;
}

#Logo{
    padding-left: 18%;
}

#Linha{
    margin-top: 25px;
    width: 75%;
    color: white;
    opacity: .5;
}

#Cabecalho{
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    padding: 1%;
    overflow-y: hidden; 
}

#Cabecalho a:hover{
    background-color: tomato;
}

#Cabecalho a{  
    margin-left: 15px;
    color: white;
    font-family: Helvetica, Arial, sans-serif; 
    border-radius: 20px;
    padding: 8px 70px;
    text-decoration: none;
    background-color: #ffcdb2;
}

#C{
    padding-left: 5%;
    margin: 0;
    margin-top: -3.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

#C1{
    padding-left: 5%;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif Regular;
    font-size: 18px;
    color: white;
}

#Img-Camp{
    background-color: turquoise;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    margin-left: 43.6%;
    margin-top: -2.8%;
}

@media only screen and (max-device-width: 1620px) {
    #Imagem{
        height: 180px;
    }

    #Logo{
        padding-left: 18%;
    }

    #C{
        position: relative;
        padding-left: 35%;
        margin: 0;
        margin-top: -4%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 35%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 55%;
        margin-top: -3.5%;
    }

    #Cabecalho a{  
        margin-left: 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif; 
        padding: 8px 70px;
        text-decoration: none;
        background-color: #ffcdb2;
    }
}

@media only screen and (max-device-width: 1366px) {
    #Imagem{
        height: 170px;
    }

    #Logo{
        padding-left: 18%;
    }

    #C{
        position: relative;
        padding-left: 33%;
        margin: 0;
        margin-top: -4.5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 33%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }

    @media only screen and (max-device-width: 1220px) {
        #Imagem{
            height: 180px;
        }
    
        #Logo{
            padding-left: 18%;
        }
    
        #C{
            position: relative;
            padding-left: 35%;
            margin: 0;
            margin-top: -5%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            color: white;
            text-align: center;
        }
        
        #C1{
            padding-left: 35%;
            text-align: center;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif Regular;
            font-size: 18px;
            color: white;
        }
        
        #Img-Camp{
            background-color: turquoise;
            width: 70px;
            height: 70px;
            border-radius: 50px;
            position: relative;
            margin-left: 53%;
            margin-top: -10%;
        }
    
        #Cabecalho a{  
            margin-left: 15px;
            color: white;
            font-family: Helvetica, Arial, sans-serif; 
            padding: 8px 70px;
            text-decoration: none;
            background-color: #ffcdb2;
        }
    }
    
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 53%;
        margin-top: -4%;
    }

    #Cabecalho a{  
        margin-left: 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif; 
        padding: 8px 70px;
        text-decoration: none;
        background-color: #ffcdb2;
    }
}

@media only screen and (max-device-width: 1100px) {
    #Imagem{
        height: 170px;
    }

    #Logo{
        padding-left: 18%;
    }

    #C{
        position: relative;
        padding-left: 40%;
        margin: 0;
        margin-top: -6%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 40%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 53%;
        margin-top: -5%;
    }
}

@media only screen and (max-device-width: 1024px) {
    #Imagem{
        height: 170px;
    }

    #Logo{
        padding-left: 18%;
    }

    #C{
        position: relative;
        padding-left: 40%;
        margin: 0;
        margin-top: -6%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 40%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 53%;
        margin-top: -5%;
    }

    #Cabecalho a{  
        margin-left: 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif; 
        padding: 8px 70px;
        text-decoration: none;
        background-color: #ffcdb2;
    }
}

@media only screen and (max-device-width: 954px) {
    #C{
        position: relative;
        padding-left: 30%;
        margin: 0;
        margin-top: -6%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 30%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 46%;
        margin-top: -5.8%;
    }
}

@media only screen and (max-device-width: 900px) {
    #Logo{
        padding-left: 10%;
    }

    #C{
        position: relative;
        padding-left: 40%;
        margin: 0;
        margin-top: -8%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 40%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 50%;
        margin-top: -5.8%;
    }
}

@media only screen and (max-device-width: 830px) {
    #Imagem{
        height: 170px;
    }
    
    #Logo{
        padding-left: 12%;
    }

    #C{
        position: relative;
        padding-left: 53%;
        margin: 0;
        margin-top: -8%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 53%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 53%;
        margin-top: -7%;
    }

    #Cabecalho a{  
        margin-left: 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif; 
        padding: 8px 70px;
        text-decoration: none;
        background-color: #ffcdb2;
    }
}

@media only screen and (max-device-width: 700px) {
    
    #Imagem{
        height: 260px;
    }

    #C{
        position: relative;
        padding-left: 1%;
        margin: 0;
        margin-top: -4%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 1%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 45%;
        margin-top: 8px;
    }

    #Cabecalho a{  
        margin-left: 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif; 
        padding: 8px 70px;
        text-decoration: none;
        background-color: #ffcdb2;
    }

    #Logo{
        padding-left: 32%;
    }
}

@media only screen and (max-device-width: 640px) {
    #Imagem{
        height: 250px;
    }

    #C{
        position: relative;
        padding-left: 1%;
        margin: 0;
        margin-top: -5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 1%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 45%;
        margin-top: 8px;
    }

    #Cabecalho a{  
        margin-left: 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif; 
        padding: 8px 70px;
        text-decoration: none;
        background-color: #ffcdb2;
    }

    #Logo{
        padding-left: 32%;
    }
}

@media only screen and (max-device-width: 540px) {
    #Imagem{
        height: 250px;
    }

    #C{
        position: relative;
        padding-left: 1%;
        margin: 0;
        margin-top: -5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 1%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 44%;
        margin-top: 8px;
    }

    #Cabecalho a{  
        margin-left: 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif; 
        padding: 8px 70px;
        text-decoration: none;
        background-color: #ffcdb2;
    }

    #Logo{
        padding-left: 28%;
    }
}

@media only screen and (max-device-width: 414px) {
    #Imagem{
        height: 260px;
    }

    #Logo{
        padding-left: 22%;
    }

    #C{
        position: relative;
        padding-left: 0.1%;
        margin: 0;
        margin-top: -5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 0.1%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 42%;
        margin-top: 8px;
    }

    #Cabecalho a{  
        margin-left: 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif; 
        padding: 8px 70px;
        text-decoration: none;
        background-color: #ffcdb2;
    }
}

@media only screen and (max-device-width: 375px) {
    #Logo{
        padding-left: 18%;
    }
}

@media only screen and (max-device-width: 360px) {
    #Imagem{
        height: 260px;
    }

    #C{
        position: relative;
        padding-left: 2%;
        margin: 0;
        margin-top: -5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    #C1{
        padding-left: 2%;
        text-align: center;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif Regular;
        font-size: 18px;
        color: white;
    }
    
    #Img-Camp{
        background-color: turquoise;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: relative;
        margin-left: 42%;
        margin-top: 8px;
    }

    #Cabecalho a{  
        margin-left: 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif; 
        padding: 8px 70px;
        text-decoration: none;
        background-color: #ffcdb2;
    }
}

@media only screen and (max-device-width: 280px) {
    #Logo{
        padding-left: 10%;
    }
}