#Corpo{
    margin: 0;
}

#Flex_Cabecalho{
    width: 100%;
    background-color: #ff9b64;

}

#Linha{
    width: 70%;
    color: white;
    opacity: .5;
}

#Flex_Divisao{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Flex_Titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Logo{
    display: flex;
    justify-content: center;
    width: 300px;
}

#Revista{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: white;
}

#Campanha{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#Campanha p{
    font-family: Helvetica , Arial , sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-left: 10px;
}

#Menu_Rolavel{
    display: flex;
    justify-content: center;
}

#Menu{
    display: flex;
    height: 60px;
    overflow-y: auto;
}

#Menu_Planej, #Menu_Cad, #Menu_Pedi, #Menu_Finan, #Menu_Rela, #Menu_Entre{
    margin-top: 10px;
    margin-left: 20px;
    list-style-type: none;
}

#Planejamento, #Cadastro, #Pedido, #Financeiro, #Relatorio, #Entregas{
    color: white;
    background-color: #ffcdb2;
    font-family: Helvetica, Arial, sans-serif;
    padding: 8px 30px;
    border-radius: 100px;
    text-decoration: none;
}

#Menu li a:hover{
    background-color: tomato;
}

#Sub_Planej, #Sub_Cad{
    background-color: tomato;
    position: absolute;
    border-radius: 10px;
    width: 120px;
    margin-top: 10px;
}

#Menu_Sub_Planej1, #Menu_Sub_Planej2, #Menu_Sub_Planej3, #Menu_Sub_Cad1, #Menu_Sub_Cad2, #Menu_Sub_Cad3{
    width: 100%;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    list-style-type: none;
    
}

#Sub_Planej li a{
    text-decoration: none;
}

.ul1{
    position: relative;
    display: none;
}

.ul2{
    position: relative;
    display: none;
}

#Lateral{
    margin: 0;
    position: absolute;
}

#Img_Menu{
    width: 40px;    
}

#chec{
    display: none;
}

#Menu_Lateral{
    width: 200px;
    height: 1000px;
    background-color: #ff9b64;
    margin-left: -500px;
}

#chec:checked ~ nav{
    transform: translateX(500px);
}

#Menu_Lateral ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#Menu_Lateral ul li a{
    text-decoration: none;
    display: block;
    padding: 20px 5px;
    color: white;
}